# Week 7 Assignment

_MkKinney 6.1_

This week has been all about getting information off the internet both in structured data formats (CSV, JSON, etc) as well as HTML.  For these exercises, we're going to use two practical examples of fetching data from web pages to show how to use Pandas and BeautifulSoup to extract structured information from the web.

---
---

### 33.1 Parsing a list in HTML

Go to the Banner Health Price Transparency Page: https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency

Notice that there is a list of hospitals and the city they are in.  We want to parse the underlying HTML to create a list of all the hospitals along with which city they're in.

```json
[
    ["Banner - University Medical Center Phoenix", "Arizona"],
    ["Banner - University Medical Center South ", "Arizona"],
    ...
]
```

To examine the underlying HTML code, you can use Chrome, right-click, and choose **Inspect**.

For reference, the documentation for BeautifulSoup is here: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In the cell below, create a function called **parse_banner(url)** that takes as it's one parameter the URL of the webpage to be parsed for links.  Make sure you include docstrings and a good test case using hte URL provided above.

In [2]:
from bs4 import BeautifulSoup
import requests

# Note that you'll need to fetch the data using the following syntax to include headers
# that make the web server think you're a real web browser.
def parse_banner(url):
    headers = { "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36" }
    response = requests.get('https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency', headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')
    '''
    This function returns a list of hospitals from Banner Health Price Transparency website. 
    >>> len(parse_banner('https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency')
    38
    '''
    div = soup.find_all('div', {"class":"col-md-8"})[0]
    for hospital_list in div.find_all('ul'):
        state = hospital_list.previous_sibling.previous_sibling.string
        for hospital in hospital_list.find_all('li'):
            
            print(state, hospital.text)

In [3]:
import doctest
doctest.run_docstring_examples(parse_banner, globals(), verbose=True)

Finding tests in NoName

In [4]:
banner = parse_banner('https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency')
assert len(banner)==38, 'Length of result should have been 38, but {} returned.'.format(len(banner))
assert banner[0][1]=='Arizona', 'Wrong data found in the first result item: {}'.format(banner[0])

Arizona Banner - University Medical Center Phoenix
Arizona Banner - University Medical Center South
Arizona Banner - University Medical Center Tucson
Arizona Banner Baywood Medical Center
Arizona Banner Behavioral Health Hospital
Arizona Banner Boswell Medical Center
Arizona Banner Casa Grande Medical Center
Arizona Banner Del E. Webb Medical Center
Arizona Banner Desert Medical Center/Cardon Children's Medical Center
Arizona Banner Estrella Medical Center
Arizona Banner Gateway Medical Center/Banner MD Anderson Cancer Center
Arizona Banner Goldfield Medical Center
Arizona Banner Heart Hospital
Arizona Banner Ironwood Medical Center
Arizona Banner Ocotillo Medical Center
Arizona Banner Payson Medical Center
Arizona Banner Rehabilitation Hospitals
Arizona Banner Thunderbird Medical Center
Arizona Page Hospital
California Banner Lassen Medical Center
Colorado Banner Fort Collins Medical Center
Colorado McKee Medical Center
Colorado North Colorado Medical Center
Colorado Sterling Regional Medical Center
Colorado East Morgan County Hospital
Nebraska Ogallala Community Hospital
Nevada Banner Churchill Community Hospital
Wyoming Banner Wyoming Medical Center Central Campus
Wyoming Banner Wyoming Medical Center East Campus
Wyoming Community Hospital
Wyoming Washakie Medical Center
Wyoming Platte County Memorial Hospital
State-Specific Regulations Arizona
State-Specific Regulations California
State-Specific Regulations Colorado
State-Specific Regulations Nebraska
State-Specific Regulations Nevada
State-Specific Regulations Wyoming

TypeError: object of type 'NoneType' has no len()

---

## 33.2 Using a REST API (from GitHub.com)

Many websites provide something called a REST API to access information from their site programatically, rather than relying on HTML.  One example is GitHub.com, whose API allows you do to things like "list all the public repositories for a user."

The documentation for GitHub.com's REST API can be found here: https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api

Create a function called **repo_summary(user)** that takes a GitHub.com user name as it's parameter and retrieves a list of all the repositories you can see for that user.  The specific documentation for the this kind of request can be found here: https://docs.github.com/en/rest/reference/repos#list-repositories-for-a-user. Make sure your function is well documented with a docstring and includes a simple test to verify that you get back 12 repositories when querying for the repositories for user **paulboal**.

I've provided a related example to help you out.

In [5]:
# Example -- this example of code shows how to get basic information on the user paulboal
# For your solution, make sure you meet the requirements in the instructions above.

import requests

response = requests.get('https://api.github.com/users/paulboal')
data = response.json()

print('This information is about {}. His website is {}.'.format(data.get('login'), data.get('blog')))

This information is about paulboal. His website is www.amitechsolutions.com.

In [6]:
# Your code Here
def repo_summary(user):
    '''
    This function retrives the number of repositories for a user given their username on Github.
    >>> len(repo_summary('paulboul'))
    12
    '''
    response = requests.get('https://api.github.com/users/paulboal/repos')
    data = response.json()
    user_repos = []
    for i in data:
        user_repos.append(i['name'])
    
    return user_repos

In [7]:
import doctest
doctest.run_docstring_examples(repo_summary, globals(), verbose=True)

Finding tests in NoName
Trying:
    len(repo_summary('paulboul'))
Expecting:
    12
ok

In [8]:
repos = repo_summary('paulboal')
assert len(repos)==12, 'Expecing 12, but {} were found'.format(len(repos))

---

### 33.3 Find Something of Your Own

Do some web searches and find an HTML page with some data that is interesting to something you're studying.  You can extract and parse that information using either BeautifulSoup or Pandas.  If you're using Pandas, then do something interesting to format and structure your data.  If you're using BeautifulSoup, you'll just need to do the work of parsing the data out of HTML -- that's hard enough!

You don't need to build this as a function.  Just use notebook cells as I've done above.  You will be graded based on _style_.  Use variable names that make sense for your problem / solution. Cleanup anything you don't need before you submit your work.

In [9]:
# Your Code Here
import pandas as pd

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_highest-grossing_films')

In [10]:
movie_data = tables[0]

#Dropping redundant information such as references and peak using '.drop' function to make it neater and easier to read.
movie_data.drop(["Reference(s)", "Peak"], axis=1)

,Rank,Title,Worldwide gross,Year
0,1,Avatar,"$2,847,246,203",2009
1,2,Avengers: Endgame,"$2,797,501,328",2019
2,3,Titanic,"$2,187,425,379",1997
3,4,Star Wars: The Force Awakens,"$2,068,223,624",2015
4,5,Avengers: Infinity War,"$2,048,359,754",2018
5,6,Spider-Man: No Way Home,"$1,866,607,846",2021
6,7,Jurassic World,"$1,671,537,444",2015
7,8,The Lion King,"$1,656,943,394",2019
8,9,The Avengers,"$1,518,812,988",2012
9,10,Furious 7,"$1,516,045,911",2015
10,11,Frozen II,"$1,450,026,933",2019
11,12,Avengers: Age of Ultron,"$1,402,809,540",2015
12,13,Black Panther,"$1,347,280,838",2018
13,14,Harry Potter and the Deathly Hallows – Part 2,"$1,342,025,430",2011
14,15,Star Wars: The Last Jedi,"$1,332,539,889",2017
15,16,Jurassic World: Fallen Kingdom,"$1,309,484,461",2018
16,17,Frozen,"F$1,290,000,000",2013
17,18,Beauty and the Beast,"$1,263,521,126",2017
18,19,Incredibles 2,"$1,242,805,359",2018
19,20,The Fate of the Furious,"F8$1,238,764,765",2017
20,21,Iron Man 3,"$1,214,811,252",2013
21,22,Minions,"$1,159,398,397",2015
22,23,Captain America: Civil War,"$1,153,329,473",2016
23,24,Aquaman,"$1,148,485,886",2018
24,25,The Lord of the Rings: The Return of the King,"$1,146,030,912",2003
25,26,Spider-Man: Far From Home,"$1,131,927,996",2019
26,27,Captain Marvel,"$1,128,274,794",2019
27,28,Transformers: Dark of the Moon,"$1,123,794,079",2011
28,29,Skyfall,"$1,108,561,013",2012
29,30,Transformers: Age of Extinction,"$1,104,054,072",2014
30,31,The Dark Knight Rises,"$1,081,142,612",2012
31,32,Joker,"$1,074,251,311",2019
32,33,Star Wars: The Rise of Skywalker,"$1,074,144,248",2019
33,34,Toy Story 4,"$1,073,394,593",2019
34,35,Toy Story 3,"$1,066,969,703",2010
35,36,Pirates of the Caribbean: Dead Man's Chest,"$1,066,179,725",2006
36,37,Rogue One: A Star Wars Story,"$1,056,057,273",2016
37,38,Aladdin,"$1,050,693,953",2019
38,39,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802",2011
39,40,Despicable Me 3,"$1,034,799,409",2017
40,41,Jurassic Park,"$1,033,928,303",1993
41,42,Finding Dory,"$1,028,570,889",2016
42,43,Star Wars: Episode I – The Phantom Menace,"$1,027,044,677",1999
43,44,Alice in Wonderland,"$1,025,467,110",2010
44,45,Zootopia,"$1,023,784,195",2016
45,46,The Hobbit: An Unexpected Journey,"$1,017,003,568",2012
46,47,Harry Potter and the Philosopher's Stone,"$1,006,968,171",2001
47,48,The Dark Knight,"$1,005,973,645",2008
48,49,Harry Potter and the Deathly Hallows – Part 1,"$977,043,483",2010
49,50,Despicable Me 2,"$970,761,885",2013

### ---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Follow the instruction on the prompt below to either ssave and submit your work, or continue working.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

---

In [11]:
a=input('''
Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

''')

if a=='yes':
    !git add week07_assignment_2.ipynb
    !git commit -a -m "Submitting the week 7 programming exercises"
    !git push
else:
    print('''
    
OK. We can wait.
''')

Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

 yes

[main 2958355] Submitting the week 7 programming exercises
 2 files changed, 389 insertions(+), 4 deletions(-)
 create mode 100644 week07/week07_assignment_2.ipynb
Counting objects: 5, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (5/5), done.
Writing objects: 100% (5/5), 5.08 KiB | 5.08 MiB/s, done.
Total 5 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
remote: This repository moved. Please use the new location:
remote:   git@github.com:VineethMunigati/hds5210-2022.git
To github.com:vineethmunigati/hds5210-2022.git
   5bd9086..2958355  main -> main